<mat-toolbar class="toolbar">
  <h2>Faculties</h2>
  <button mat-raised-button (click)="openNewEditDialog(true)">+ New faculty</button>
</mat-toolbar>
<div class="mat-elevation-z8" [hidden]="!faculties">
  <table mat-table [dataSource]="faculties" class="mat-elevation-z8">
    <ng-container matColumnDef="faculty_id">
      <th mat-header-cell *matHeaderCellDef> #</th>
      <td mat-cell *matCellDef="let row"> {{row.faculty_id}} </td>
    </ng-container>

    <ng-container matColumnDef="faculty_name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let row"> {{row.faculty_name}} </td>
    </ng-container>

    <ng-container matColumnDef="faculty_description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let row"> {{row.faculty_description}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon
          class="edit-icon"
          aria-hidden="false"
          aria-label="edit faculty icon"
          (click)="openNewEditDialog(false, row.faculty_id, row.faculty_name, row.faculty_description)">
          edit
        </mat-icon>
        <mat-icon
          class="delete-icon"
          aria-hidden="false"
          aria-label="delete faculty icon"
          (click)="openDeleteDialog(row.faculty_id, row.faculty_name)">
          delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    #paginator
    [showFirstLastButtons]="true"
    [length]="paginatorLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 50]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
