<mat-toolbar>
  <mat-toolbar-row>
    <span class="logo" [routerLink]="['/']">Tester app</span>
    <mat-list>
      <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/']">Home</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a [routerLink]="['/faculties']">Faculties</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a>Specialities</a>
      </mat-list-item>
      <mat-list-item routerLinkActive="active">
        <a [routerLink]="['/subjects']">Subjects</a>
      </mat-list-item>
    </mat-list>
    <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
