mat-toolbar {
  background-color: #7d3fb5;
  color: #fff;

  mat-toolbar-row {
    display: flex;
    justify-content: space-around;

    .logo {
      cursor: pointer;
    }

    mat-list {
      display: flex;
      gap: 15px;
      padding-top: 0;

      mat-list-item {
        opacity: .8;

        &.active {
          opacity: 1;
        }

        a {
          cursor: pointer;
          color: #fff;
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  mat-toolbar {
    mat-toolbar-row {
      mat-list {
        position: absolute;
        top: -250px;
        background-color: #7d3fb5;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        transition: .4s;
        z-index: 3;

        &.toggled {
          top: 9px;
          padding-left: 70px;
        }
      }

      .menu-icon {
        display: block;
        z-index: 3;
      }
    }
  }
}
