<div class="dialog-wrapper">
  <h3 mat-dialog-title class="dialog-title">{{data.isNew ? 'Add new' : 'Edit'}}</h3>
  <div mat-dialog-content>
    <form class="form" [formGroup]="addFacultyForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="faculty_name">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="faculty_description"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="actions">
    <button
      mat-raised-button
      mat-dialog-close="true"
      (click)="edit(data.isNew)"
      [disabled]="addFacultyForm.invalid"
      color="primary">
      Submit
    </button>
    <button
      mat-raised-button
      mat-dialog-close="true"
      color="warn">
      Cancel
    </button>
  </div>
</div>
