.dialog-wrapper {
  .dialog-title {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .actions {
    display: flex;

    button {
      width: 100%;
    }
  }
}

.add-faculty {
  .mat-dialog-container {
    width: 380px;
  }
}
