@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

table.mat-table {
  width: 100%;
}

.delete-faculty {
  .mat-dialog-content {
    text-align: center;
    padding: 0 22px 22px;
  }
}

.add-faculty, .delete-faculty {
  .mat-dialog-container {
    width: 380px;

    .dialog-wrapper {
      .dialog-title {
        text-align: center;
        font-weight: 600;
      }

      .form {
        display: flex;
        flex-direction: column;
      }

      .actions {
        display: flex;
        padding: 10px;
        gap: 10px;

        button {
          width: 100%;
        }
      }
    }
  }
}

.mat-icon {
  &.high-priority {
    color: red;
  }
}

.mat-icon {
  cursor: pointer;

  &:hover.delete-icon {
    color: red;
  }

  &:hover.edit-icon {
    color: orange;
  }
}

@media screen and(max-width: 500px) {
  table {
    .mat-row {
      height: 88px !important;
    }
  }
}
