@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

table.mat-table {
  width: 100%;
}

.mat-icon {
  cursor: pointer;

  &:hover.delete-icon {
    color: red;
  }

  &:hover.edit-icon {
    color: orange;
  }
}
